{% block form_errors %}
    {% if errors|length > 0 %}
        <div class="pb-2 text-red-700 dark:text-red-300 border border-red-600 p-2 rounded bg-red-50 dark:bg-red-900/20">
            {% for error in errors %}
               <div>{{ error.message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
